footer .icone2{
    margin-left: 20px;
}

nav{
    position: fixed;
    z-index: 1;
}

.tabs{
    margin-top: 50px;
}

.tabs .tab a:focus{
    background-color: #e0f2f1;
}


.tabs .tab a:focus.active{
    background-color: #e0f2f1;
}

.tabs .indicator{
    background-color: #4db6ac;
}