<footer class="page-footer teal lighten-4 grey lighten-5">
    <div class="container">
      <div class="row ">
        <div class="col l4">  
            <div class="row col s1">                  
                <ul>
                <img src="./images/logo.png" alt="">
                <li><a class="grey-text" href="#!">Feiras</a></li>
                <li><a class="grey-text " href="#!">Ongs</a></li>
                <li><a class="grey-text " href="#!">Doar</a></li>
                <li><a class="grey-text " href="#!">Contato</a></li>
                </ul>
            </div>
          </div>
            <div class="row col s5">
                <h5 class="teal-text text-lighten-2">Entre para o programa de adoção</h5>
                <div class="row">
                    <div class="input-field col s9">
                      <input id="email" type="email" class="validate">
                      <label for="email" class="">Email</label>
                    </div>
                   
                </div>
                <a class="lighten-effect lighten-2 btn">Enviar</a>
            </div>
            <div class="row col s3">
                <h5 class="teal-text text-lighten-2">Siga-nos nas redes sociais</h5>
                <a  class="icone" href=""><img src="./images/facebook.png" alt=""></a>
                <a  class="icone2" href=""><img src="./images/instagram.png" alt=""></a>
            </div>
      </div>              
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span class="black-text"> © 2021 Copyright PetHero</span>
      </div>
    </div>
    
</footer>             
<!--JavaScript at end of body for optimized loading-->      
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script>
$(document).ready(function(){
  $('.parallax').parallax();
  $('.tabs').tabs();
});
</script>
</body>
</html>