<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/stylesheets/parallax.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <header>
        <nav class="white">
            <div class="nav-wrapper">
              <a href="../index" class="brand-logo"><img src="/images/logo.png" alt=""></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="../index" class="" href="sass.html">Inicio</a></li>
                <li><a class="" href="sass.html">Feiras</a></li>
                <li><a class="" href="badges.html">ONGs</a></li>
                <li><a class="" href="badges.html">Doar</a></li>
                <li><a class="" href="badges.html">Sobre-nós</a></li>
                <li><a class="" href="badges.html">Contato</a></li>
                <a href="../registrar" class="waves-effect teal lighten-2 btn-small">Registrar</a>
                <a href="../login" class="waves-effect blue darken-1 btn-small" href="../login">Entrar</a>                
              </ul>
            </div>
        </nav>
      </header>