<%- include("./partials/header") %>
<main>
    <div class="animation-area">
      <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="container" id="container_eventos"> 
      <div class="card" id="registrar_card_eventos"> 
          <% if(success == true){ %>
            <%- include("./partials/success") %>
          <% } %>
          <% if(error == true){ %>
            <%- include("./partials/error") %>
          <% } %>
            <div class="row">
              <form class="col s12" method="post" action="/eventos">
                <div class="row center">
                  <h1 class="center">Cadastrar Eventos</h1>
                  <p>Preencha todas os campos para registrar seu evento em nosso website.</p>
                </div>
                <div class="row">
                  <div class="input-field col s6 center">
                    <input id="nome" type="text" class="validate" name="nome" required>
                    <label for="nome">Nome do Evento</label>
                  </div>
                  <div class="input-field col s6 center">
                      <input id="data" type="date" class="validate" name="data" required>
                      <label for="data">Data do Evento</label>
                    </div>                     
                </div>
                <div class="row">
                  <div class="input-field col s4 center">
                    <input id="pais" type="text" class="validate" name='pais' required>
                    <label for="pais">País</label>
                  </div>
                  <div class="input-field col s4 center">
                      <input id="cidade" type="text" class="validate" name='cidade' required>
                      <label for="cidade">Cidade</label>
                  </div>
                  <div class="input-field col s4 center">
                      <input id="local" type="text" class="validate" name="local" required>
                      <label for="local">Local</label>
                  </div>
                  
                </div>
                <div class="row">                    
                  <div class="input-field col s6 center">
                      <select id="periodicidade" name="periodicidade" required>
                        <option value="" disabled selected>Periodicidade</option>
                        <option value="1">Anaual</option>
                        <option value="2">Semestral</option>
                        <option value="3">Trimestral</option>
                        <option value="3">Bimensal</option>
                        <option value="3">mensal</option>
                      </select>
                  </div>
                  <div class="input-field col s6 center" >
                      <select id="Alcance" name="Alcance" required>
                        <option value="" disabled selected>Alcance</option>
                        <option value="1">Nacional</option>
                        <option value="2">Internacional</option>
                      </select>
                  </div>                
                </div>
                <div class="row">
                  <div class="input-field col s12">
                      <select multiple id="setores" name="setores" required>
                        <option value="" disabled selected>Setores</option>
                        <option value="1">Agrícola</option>
                        <option value="2">Animais de Estimaçao</option>
                        <option value="3">Aditivos</option>
                        <option value="4">Alimentos Orgânicos</option>
                        <option value="5">Indústria da Alimentação</option>
                        <option value="6">Pecuária</option>
                        <option value="7">Exposição de Animais</option>
                      </select>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                      <textarea id="descricao" class="materialize-textarea" name="dedscricao" required></textarea>
                      <label for="descricao">Descrição</label>
                  </div>
                </div>
                <div class="file-field input-field">
                  <div class="btn">
                    <span class="logo_span">Logo</span>
                    <input type="file" required>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>   
                <div class="row" id="botoes_registrar">                  
                  <a href="../eventos/listar" class="waves-effect teal lighten-2  btn">Voltar</a>
                  <button class="waves-effect blue darken-1 btn"> Confirmar</button>
                </div>              
              </form>
            </div>
      </div>
    </div>
</main>


<%- include("./partials/footer") %>