<%- include("./partials/header") %>
<main>
    <div class="animation-area">
      <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="container" id="container_eventos">
        <div class="card" id="registrar_card_eventos">

          <% if(typeof alert != 'undefined'){ %>
            <% alert.forEach(function(error){ %>
              <div class="materialert error">
                <div class="material-icons">error_outline</div>
                <%= error.msg %>
              </div>
            <% }) %>
          <% } %>
            <div class="row">
                <form class="col s12" method="post" action="/contato" enctype="multipart/form-data">
                  <div class="row center">
                    <h1 class="center">Contatos</h1>
                    <p>Preencha o formulário e nos envie um e-mail.</p>
                  </div>
                  <div class="row">
                    <div class="input-field col s6 center">
                      <input id="nome" type="text" class="validate" name="nome" required>
                      <label for="nome">Nome</label>
                    </div>
                                      
                    <div class="input-field col s6 center">
                        <select id="tipo_msg" name="tipo_msg" required>
                          <option value="" disabled selected>Tipo de mensagem</option>
                          <option value="duvida">Dúvida</option>
                          <option value="sugestao">Sugestão</option>
                          <option value="reclamacao">Reclamação</option>
                          <option value="elogio">Elogio</option> 
                          <option value="outros">Outros</option>                             
                        </select>
                    </div>
                  </div>                  
                  
                  <div class="row">                    
                    <div class="input-field col s6 center">
                        <input id="email" type="text" class="validate" name="email" required>
                        <label for="email">Email</label>
                    </div>                                       
                  
                  
                    <div class="input-field col s6 center">
                      <input id="telefone" type="text" class="validate" name='telefone' required>
                      <label for="telefone">Telefone</label>
                    </div>                                                                          
                  </div>            
                  
                  <div class="input-field col s12">
                      <textarea id="descricao" class="materialize-textarea" name="dedscricao"></textarea>
                      <label for="descricao">Mensagem</label>
                  </div>

                  <div class="row" id="botoes_registrar">                  
                    <a href="" class="waves-effect teal lighten-2  btn">Voltar</a>
                    <button class="waves-effect blue darken-1 btn"> Enviar</button>
                  </div> 
                </form>
            </div>
        </div>
    </div>
</main>

<%- include("./partials/footer") %>