<%- include("./partials/header") %>
<main>
    <div class="container">
           <dir class="row">
               <dir class="col s6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perspiciatis animi consectetur nisi ab ullam minima optio deserunt officia sunt odit, expedita et fuga ut facere officiis repellat corrupti repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. A, itaque explicabo minus est magni, deleniti unde quas ab fugit odio quis nesciunt deserunt. Fugit dicta, fuga obcaecati in ad blanditiis?</p>
               </dir>
                <dir class="col s6">
                    <div class="slider">
                        <ul class="slides">
                          <li>
                            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                            <div class="caption center-align">
                              <h3>This is our big Tagline!</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                            <div class="caption left-align">
                              <h3>Left Aligned Caption</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                            <div class="caption right-align">
                              <h3>Right Aligned Caption</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                          <li>
                            <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                            <div class="caption center-align">
                              <h3>This is our big Tagline!</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>
                        </ul>
                    </div>
                </dir>
           </dir>
    </div>
        <dir class="container">
           <dir class="row">
               <dir class="deposito_doacao col s6">
                    <h4>Se preferir, faça uma doação via depósito bancário</h4><br>
                    <ul>                        
                        <li><strong>Banco: </strong></li>
                        <li><strong>Agência: </strong></li>
                        <li><strong>Conta Corrente: </strong></li>
                        <li><strong>CNPJ: </strong>00.000.000./0001-00</li>
                        <li><strong>Razão Social: </strong></li>
                    </ul>
                </dir>               
                <dir class="informacoes_doacao col s6">
                    <h4>Para mais informações</h4><br>
                    <ul>                        
                        <li><strong>Tel: </strong>(011) 0000.0000</li>
                        <li><strong>E-mail:</strong>email@email.com</li>
                        <li><strong>Whatsapp: </strong>(011)0000.0000</li>
                        
                    </ul>
                </dir>
            </dir>
            <dir class="row">
                <dir class="pix_doacao col s12">                       
                    <p><strong>Pix: </strong>00.000.000./0001-00</p>
                    <p><img src="/images/qrcode_doacao.jpeg" alt="qrcode"><strong>Escaneie o Qr-code para realizar um pix</strong></p>
                </dir>
            </dir>
        </dir>
</main>

<%- include("./partials/footer") %>