<%- include("./partials/header") %>
<main>
<section class="primeira_img"> 
    <dir>
        <dir class="logada_Um">
            <img src="./images/home_logada_1.png" alt="primeira imagem da pagina" />
        </dir>
    </dir>
</section>
    
<section class="info_pet">
    <dir class="container">
            <ul class="lista_info">
                <li>Nome do Pet</li>
                <li>Idade</li>
                <li>Porte</li>
                <li>Castrado</li>
            </ul>
        </dir>
    </dir>
</section>

<section class="texto">
    <dir class="container">
        <dir class="texto_pet_logada">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse temporibus officia voluptatum, recusandae inventore facilis eligendi aliquam tenetur error quae assumenda tempora! Quam error aliquam delectus expedita. Molestiae, expedita Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse temporibus officia voluptatum, recusandae inventore facilis eligendi aliquam tenetur error quae assumenda tempora! Quam error aliquam delectus expedita. Molestiae, expedita Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse temporibus officia voluptatum, recusandae inventore facilis eligendi aliquam tenetur error quae assumenda tempora! Quam error aliquam delectus expedita. Molestiae, expedita Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse temporibus officia voluptatum, recusandae inventore facilis eligendi aliquam tenetur error quae assumenda tempora! Quam error aliquam delectus expedita. Molestiae, expedita Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse temporibus officia voluptatum, recusandae inventore facilis eligendi aliquam tenetur error quae assumenda tempora! Quam error aliquam delectus expedita. Molestiae, expedita.</p>
        </dir>
    </dir>

</section>

<section class="cards">
    <dir class="container">
        <dir class="cards_logada">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                    </div>

                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    </div>
                </div>
                </div>
            </div>
        </dir>
    </dir>
</section>

<section class="mapa">
    <dir class="container">
        <dir class="mapa_logada">
            <img src="./images/mapa_logada.png" alt="mapa" />
        </dir>
    </dir>
</section>

<section class="botoes">
    <dir class="container">
        <dir class="botoes enviar">
            <a class="waves-effect waves-light btn">AGENDAR VISITA</a>
            <a class="waves-effect waves-light btn">LIGAR AGORA</a>
            <a class="waves-effect waves-light btn">VER AGENDA</a>
        </dir>
    </dir>
</section>  

</main>

<%- include("./partials/footer") %> 