<%- include("./partials/header") %>
<main>
    <div class="container saibaMais">
        <div class="row">
            <div class="">
                <h1>Quem somos?</h1>
                
                <p></p>
                <p><strong><h3>PET HERO</h3></strong></p>
                <p><strong>GESTÃO 2021</strong></p>
                <p><strong>Presidente: </strong>Derick Palma Tigre</p>
                <p><strong>Vice-Presidente: </strong>Rian Lalanda Dantas</p>
                <p><strong>Diretora Executiva: </strong>Dayra Viveiros Charneca</p>
                <p><strong>Diretora Financeira: </strong>Derick Foquiço Dâmaso</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto iste, commodi dicta earum optio, veniam nobis vel perferendis suscipit perspiciatis quod quo alias aliquid accusantium dolorum architecto sint ratione!</p>

<p><strong>Missão</strong></p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati minima consequuntur sapiente laborum, debitis ratione? Totam dolorum, ipsum mollitia nulla aperiam vero saepe architecto odio iusto nam dolore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis nesciunt saepe eligendi consequatur beatae sint eaque qui ea, voluptatibus quod sit vitae rerum reprehenderit rem cumque quasi alias dolores.</p>

<p>Valores:</p>
<ul>
    <li>Coragem.</li>
    <li>Responsabilidade.</li>
    <li>Sustentabilidade.</li>
    <li>Impacto.</li>
    <li>Segurança.</li>
    <li>Informação.</li>
    <li>Autenticidade.</li>
    <li>Nossa história</li>
</ul>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, nisi earum repellendus doloribus dolore rem reprehenderit necessitatibus ex. Dolorem praesentium cum dolores ab doloribus magni hic voluptatibus quae perspiciatis ut?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus praesentium amet reprehenderit neque perferendis consectetur qui tempora dolorum velit aperiam illo vero, tempore numquam maiores eos corporis iusto! Sunt, nemo.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi error sequi rerum provident architecto! Porro placeat impedit at rerum ipsam quas laudantium magnam, non pariatur asperiores eos, reprehenderit amet temporibus.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis eum maiores hic aperiam sunt quas ipsam officiis, mollitia praesentium ad aspernatur quos voluptas! Autem ipsam expedita accusamus reprehenderit repellendus sed.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut repellendus doloribus sit beatae soluta enim, quibusdam quia obcaecati odit nihil perferendis nam esse quidem ducimus quisquam quae ex excepturi reprehenderit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias vero provident commodi odio et? Ratione, magnam possimus qui praesentium asperiores tempore non, eligendi obcaecati ex vitae optio odit debitis labore.</p>

                  
                </p>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.                    
                </p>
            </div>

        </div>
    </div>
</main>

<%- include("./partials/footer") %>