body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer .icone2{
    margin-left: 20px;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}


header li:hover{
    background-color: #4db6ac;
}

header a:hover{
    color: #fff;
}

.tabs{
    margin-top: 50px;
}

.tabs .tab a:focus{
    background-color: #e0f2f1;
}


.tabs .tab a:focus.active{
    background-color: #e0f2f1;
}

.tabs .indicator{
    background-color: #4db6ac;
}