body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.saibaMais .card{
    padding: 100px;
}

.saibaMais .card{
    height:800px;
}

footer{
    z-index: 2;
}

footer .icone2{
    margin-left: 20px;
}

header li:hover{
    background-color: #4db6ac;
}

header a:hover{
    color: #fff;
}

.tabs{
    margin-top: 50px;
}

.tabs .tab a:focus{
    background-color: #e0f2f1;
}


.tabs .tab a:focus.active{
    background-color: #e0f2f1;
}

.tabs .indicator{
    background-color: #4db6ac;
}

#container_login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 2;
}

#login_card{
    align-items: center;
    width: 450px;
    padding: 10px;
}
#login_card span{
    color: rgb(139, 139, 139);
}
#registrar_card, span{
    color: rgb(139, 139, 139)
}
.logo_span{
    color: white;
}

#registrar_card_eventos, p{
    color: rgb(139, 139, 139)
}
h1, h4{
    font-weight: 700;
    color: #26a69a;
}

.collapsible-header span, i{
    font-weight: 600;
    color: #26a69a;
    text-transform: uppercase;
}
.modal-content p{
    color: #9e9e9e;
}

#container_registrar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 2;
}
#registrar_card{
    align-items: center;
    width: 800px;
    padding: 10px;
}
#container_eventos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 2;
}
#registrar_card_eventos{
    align-items: center;
    width: 800px;
    padding: 10px;
}

#botoes_registrar{
    display: flex;
    justify-content: center;
}
#botoes_registrar .btn{
    width: 150px;
    text-align: center;
    margin-left: 30px;

}

.parallax{
    opacity: 0.9;
}
#noticia{
    margin-left: 2px;
}
.box-area{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.box-area li{
    position: absolute; 
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: url(../images/pegada.png);
    background-repeat: no-repeat;
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 100px;
    height: 100px;
    animation-delay: 1s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 1s;
    animation-duration: 10.5s;
}

.box-area li:nth-child(4){
    left: 42%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5){
    left: 65%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(6){
    left: 25%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 1;
    }
}

.materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}
.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}
.materialert.info{
    background-color: #039be5;
    color: #fff;
}
.materialert.success{
    background-color: #43a047;
    color: #fff;
}
.materialert.error{
    background-color: #c62828;
    color: #fff;
}
.materialert.danger{
    background-color: #c62828;
    color: #fff;
}
.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}